DATABASE_URL=

FRONTEND_URL=
PORT=
# The secret used to sign JWT login tokens.
# Payload + JWT Secret => Create Token
JWT_SECRET=

MAIL_USER=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://teachhub-backend-tbij.onrender.com/auth/google/callback